# TOI Fits

We analysed {{ N_TESS_ATLAS }} TOIs (TOIs with 2-min cadence lightcurve data availible) out of the {{ N_EXOFOP }} TOIs.

- {{ N_PASS }} analyses completed
- {{ N_FAIL }} analyses had errors
- {{ N_NOT_STARTED }} analyses did not start

Each TOI’s analysis has its own page. Access them from the table below.

| TOI                          | Thumbnail |
|:---------------------------- |:--------- |
{% for row in rows %}
| [{{ row[0] | pretty }}](objects/{{ row[0] }}) |{% for plot in row[1] %} [![{{ row[0] | pretty }} Phase Plot](objects/{{ row[0] }}_files/{{ plot }})](objects/{{ row[0] }}) {% endfor %}|
{% endfor %}

The 'classification' column displays the TESS Follow-up Observing Program Working Group (TFOPWG) Dispostion
of the TOI [[1]]. A full table of the TOIs can be found on the ExoFOP TOI page [[2]].

|    | Description         |
|----|---------------------|
| KP | Known Planet        |
| CP | Confirmed Planet    |
| PC | Planet Candidate    |
| APC| Ambiguous Planet Candidate    |
| FP | False Positive      |
| FA | False Alarm         |
| EB | Eclipsing Binary    |
| IS | Instrument Noise    |
| V  | Stellar Variability |
| U  | Undecided           |
| O  | O                   |

[1]: https://exoplanetarchive.ipac.caltech.edu/docs/API_toi_columns.html
[2]: https://exofop.ipac.caltech.edu/tess/view_toi.php#

<!--COMMENTS WITH Utterance.es-->
<!--FIXME: dont seem to be working atm :(-->
```{raw} html
<script src="https://utteranc.es/client.js"
        repo="avivajpeyi/tess-atlas"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
```
